
body {
    margin: 1rem 4rem;
}

footer {
    text-align: center;
    & a {
        margin: 2rem;
        cursor: pointer;
    }
}

.search-box {
    height: 4rem;
    width: auto;
    background-color: black;
}

.gallery-item {
    width: 100%;
}
 
/* .gallery-item-container:hover {
    flex-grow: calc(var(--flex-grow-amount) + 10);
} */

.gallery-item-container {
    --flex-grow-amount: 1;
    width: 25rem;
    height: 30rem;
    object-fit: contain;
    overflow: hidden;
    display: inline-block;
    flex-grow: var(--flex-grow-amount);
    flex-shrink: .01;

    transition: flex-grow 2s;
}

.gallery {
    display: inline-flex;
    height: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

input, button, select{
    all: unset;
    background-color: white;
    height: 2rem;
    padding: 4px;
}

#contact-me-form {
    width: 50%;
    background-color: gray;
    padding: 2rem;
    margin: 0 auto;
}


input[type="text"] {
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
}

.short-text{
    width: 25%;
}

.medium-text{
    width: 40%;
}

.long-text{
    height: 10rem;
}

button {
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 3rem;
    background-color: lightblue;
}

select {
    border: 1px solid black;
    align-items: center;
}
