@import "./public/css/forms.css";

body {
    margin: 1rem 4rem;
}

.search-box {
    height: 4rem;
    width: auto;
    background-color: black;
}

.gallery-item {
    width: 100%;
}
 
/* .gallery-item-container:hover {
    flex-grow: calc(var(--flex-grow-amount) + 10);
} */

.gallery-item-container {
    --flex-grow-amount: 1;
    width: 25rem;
    height: 30rem;
    object-fit: contain;
    overflow: hidden;
    display: inline-block;
    flex-grow: var(--flex-grow-amount);
    flex-shrink: .01;

    transition: flex-grow 2s;
}

.gallery {
    display: inline-flex;
    height: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}