input, button, select{
    all: unset;
    background-color: white;
    height: 2rem;
    padding: 4px;
}

#contact-me-form {
    width: 50%;
    background-color: gray;
    padding: 2rem;
    margin: 0 auto;
}


input[type="text"] {
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
}

.short-text{
    width: 25%;
}

.medium-text{
    width: 40%;
}

.long-text{
    height: 10rem;
}

button {
    border-radius: 10px;
    text-align: center;
    width: 3rem;
    background-color: lightblue;
}

select {
    border: 1px solid black;
    align-items: center;
}
